services:
  frontend:
    build:
      context: .
      dockerfile: Dockerfile
    env_file:
      - .env
    depends_on:
      - migrate
    restart: always
    ports:
      - 3000:80
    networks:
      - demo
